# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
env

# Vscode Folder
.vscode

# Idea folder
.idea

# project paths
uploads

# Unit tests / coverage reports
htmlcov/
.coverage
/coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/